<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.osudevelopers.seatallocation"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_car_peoples"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CarSelectionActivity"
            android:label="@string/title_activity_car_selection"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CarPeoplesActivity"
            android:label="@string/title_activity_car_peoples"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
