<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.osudevelopers.seatallocation"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_car"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CarSelectionActivity"
            android:label="@string/appName"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter
                android:label="@string/appName">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CarPeoplesActivity"
            android:label="@string/appName"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/appName"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
